- content_for :tools do
	- b.tool :name => "Add" do
		%a{:href => "#", :class => "_embedded_popup", "data-content_id" => "add_content_popup"}
			Add
		#add_content_popup._hidden
			- b.popup do
				%a{:href => "#"} Page
				%a{:href => "#"} Note
				%a{:href => "#"} File

	- b.tool :name => "Search" do
		- form_tag do
			= text_field_tag ''

	- b.tool :name => "Tags" do
		- b.tag_selector do |o|
			- o.selected ['hot', 'low']
			- o.selected_tag_to_link lambda{|tag| link_to tag.name, '#'}
			- o.tags [OpenObject.new(:name => 'top', :count => 10), OpenObject.new(:name => 'low', :count => 1), OpenObject.new(:name => 'hot', :count => 7), OpenObject.new(:name => 'middle', :count => 3), OpenObject.new(:name => 'middle', :count => 3), OpenObject.new(:name => 'middle', :count => 3), OpenObject.new(:name => 'ajax', :count => 1), OpenObject.new(:name => 'important', :count => 4), OpenObject.new(:name => 'artifical_intelligence', :count => 6), OpenObject.new(:name => 'google', :count => 1), OpenObject.new(:name => 'body', :count => 2), OpenObject.new(:name => 'sport', :count => 8)]
			- o.tag_to_link lambda{|tag| link_to tag.name, '#'}
			
			
	- b.tool :name => "Parameters" do				
		- b.more :name => "...", :id => 'more', :class => '_tiny' do
			- b.basic_list do
				= b.basic_list_item(content_tag(:a, "Update icon", :href => '#'))
				= b.basic_list_item(content_tag(:a, "Edit", :href => '#') + " " + content_tag(:a, "Delete", :href => '#'))