- content_for :content do
	- b.toolbar do |b|
		- b.left do |a|
			- a.add link_to(t(:new), new_account_space_path(@account, :format => :js))
			
	- b.table do |o|
		- o.head [t(:name), '']
		- o.rows do |a|
			- @spaces.each do |space|			
				- a.add do
					= render(:partial => 'line', :object => space)