- b.form_for :model, object, action: form_action do |f|
  = hidden_field_tag :node_id, params.node_id if params.node_id
  
  = f.error_messages

  = f.text_area :text, label: false

  = f.line ok_button, cancel_button