config/database.yml
config/email.yml
config/memcached.yml
config/mongrel_cluster.yml
config/setting.yml
config/sunspot.yml

log/*
tmp/**/*
tmp/*

solr/**/*

public/system
public/app
public/javascripts/*packaged*.js
public/stylesheets/*packaged*.css

*~
.DS_Store
.idea
.idea/**/*
Thumbs.db

mkmf.log