<html>
	<body>
		
		<form method="post" action="/form_result">	
			<label>TextField</label> <input type="text" name="text_field" value=""/><br/>
			
			<label>TextArea</label> <textarea name="text_area" rows="2" cols="20"></textarea><br/>
			
			<label>FileInput</label> <input type="file" name="file_input"/><br/>
			
			<label>SingleSelect</label>
			<select name="select">
				<option>One</option>
				<option>Two</option>
				<option>Three</option>
			</select>
			<br/>
			
			<label>MultiSelect</label>
			<select name="multi_select" multiple="multiple" size="3">				
				<option>One</option>
				<option>Two</option>
				<option>Three</option>
			</select>
			<br/>  
			
			<input type="radio" name="radio_button" value="RadioButtonOne"/><label>RadioButtonOne</label><br/>
			<input type="radio" name="radio_button" value="RadioButtonTwo"/><label>RadioButtonTwo</label><br/>
			
			<input type="checkbox" name="check_box" value="CheckBoxOne"/><label>CheckBoxOne</label><br/>
			<input type="checkbox" name="check_box" value="CheckBoxTwo"/><label>CheckBoxTwo</label><br/>
			<input type="checkbox" name="check_box" value="CheckBoxThree"/><label>CheckBoxThree</label><br/>
			
			<input type="submit" value="Submit"/>
		</form>		
		
	</body>
	
</html>