<html>
	<body>
		
		<p>Text</p>
		
		<p><a>Link</a></p>
		
		<form method="POST" >	
			<input type="button" value="Button"/><br/>
			<input type="text" value="TextField"/><br/>
			<textarea cols="20" rows="5">TextArea</textarea><br/>			 			
			
			<select name="select">
				<option>Select</option>
			</select>
			<br/>
			
			<select name="multi_select" multiple size="3">
				<option>MultiSelect</option>
			</select>
			<br/>
		</form>
	</body>
	
</html>