<html>
<body><table width="574" height="339" border="1">
  <tr>
    <td width="122" height="102"><label>The Text</label> 
	<form id="form1" name="form1" method="post" action="/scope_result">
        
          <input type="checkbox" name="wrong_checkbox" value="checkbox" /><label>Checkbox</label><br/>
		  <input name="" type="submit" value="Submit" />
    </form></td>
    <td width="342" align="center"><label>The Text</label><br />
        <form id="form1" name="form1" method="post" action="/scope_result">
        
          <input type="checkbox" name="wrong_checkbox" value="checkbox" /><label>Checkbox</label><br/>
		  <input name="" type="submit" value="Submit" />
      </form><br />
    </td>
    <td width="88"><label>The Text</label></td>
  </tr>
  <tr>
    <td height="117"><label>The Text</label>
    <p><a href="/">The Link</a> </p></td>
    <td><table width="340" border="1">
      <tr>
        <td width="54">&nbsp;</td>
        <td width="194">scopetop</td>
        <td width="70">&nbsp;</td>
      </tr>
      <tr>
        <td>scopeleft</td>
        <td><label>The Text</label> 
    <p><a href="/">The Link</a> </p>
      <form id="form1" name="form1" method="post" action="/scope_result">
        
          <input type="checkbox" name="checkbox" value="checkbox" /><label>Checkbox</label><br/>
		  <input name="" type="submit" value="Submit" />
    </form></td>
        <td>scoperight</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>scopebottom</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td><label>The Text</label></td>
  </tr>
  <tr>
    <td height="110"><label>The Text</label></td>
    <td align="center"><label>The Text</label></td>
    <td><label>The Text</label>
    <p><a href="/">The Link</a> </p>
	<form id="form1" name="form1" method="post" action="/scope_result">
        
          <input type="checkbox" name="wrong_checkbox" value="checkbox" /><label>Checkbox</label><br/>
		  <input name="" type="submit" value="Submit" />
      </form></td>
  </tr>
</table>
</body>
</html>