<html>
	<body>		
		<table width="655" border="1">
			<tr>
				<td width="509">Link 1</td>
				<td width="130"><a href="/">Fuzzy link</a></td>
			</tr>
			<tr>
				<td>Link 2</td>
				<td><a href="/click_fuzzy_link">Fuzzy link</a></td>
			</tr>
			<tr>
				<td>Link 3</td>
				<td><a href="/">Fuzzy link</a></td>
			</tr>
		</table>
		
		<p/>
		<div>
			<table width="655" border="1">
				<tr>
					<td width="509">Button 1</td>
					<td width="130"><form name="form1" method="post" action="/"> <input type="submit" value="Button"> </form></td>
				</tr>
				<tr>
					<td>Button 2</td>
					<td><form name="form1" method="post" action="/click_fuzzy_button"> <input type="submit" value="Button" id="id_test"> </form></td>
				</tr>
				<tr>
					<td>Button 3</td>
					<td><form name="form1" method="post" action="/"> <input type="submit" value="Button"> </form></td>
				</tr>
			</table>
		</div>
	</body>
</html>