<html>
	<body>
		
		<form method="post" action="/form_result">	
			<label>TextField</label> <input type="text" name="text_field" value="TextFieldValue"/><br/>
			
			<input type="text" id="fuck" value="FuckYou"/><br/>
			
			<label>TextArea</label> <textarea name="text_area" rows="2" cols="20">TextAreaValue</textarea><br/>
			
			<label>SingleSelect</label>
			<select name="select" >
				<option>One</option>
				<option selected="selected">Two</option>
				<option>Three</option>
			</select>
			<br/>
			
			<label>MultiSelect</label>
			<select name="multi_select" multiple="multiple" size="3">
				<option>One</option>
				<option selected="selected">Two</option>
				<option selected="selected">Three</option>
			</select>
			<br/>  
			
			
			<input type="radio" name="radio_button" value="RadioButtonOne"/><label>RadioButtonOne</label><br/>
			<input type="radio" name="radio_button" value="RadioButtonTwo" checked="checked"/><label>RadioButtonTwo</label><br/>
			
			<input type="checkbox" name="check_box" value="CheckBoxOne"/><label>CheckBoxOne</label><br/>
			<input type="checkbox" name="check_box" value="CheckBoxTwo" checked="checked"/><label>CheckBoxTwo</label><br/>
			<input type="checkbox" name="check_box" value="CheckBoxThree" checked="checked"/><label>CheckBoxThree</label><br/>
			
			<input type="submit" value="Submit"/>
		</form>		
	</body>
	
</html>