<html>
	<body>				
		<p>Nothing</p>
		 <script>
			  setTimeout("var body = window.document.getElementsByTagName('body')[0]; body.innerHTML = '<p>Something</p>'", 4000);			  
		  </script>
	</body>		 
</html>