<h2><%= @title %></h2>
<div class="inline">
	<div class="icon">${@icon}</div>
	${@content}
</div>
<div class="inline cright">
	<% @controls.each do |control| %>
	${control}
	<% end %>
</div>
<div class="inline">
	<div class="bold">${@author}</div>, 
	${@date}
</div>
<br/>
<br/>
<% @comments.each do |line| %>
${line}
<br/>
<br/>
<% end %>