<table class="container padding font wide"><tbody>	
	<tr><td>
		${@content}
	</td></tr>	
	<tr><td>
		<table class="container padding font"><tbody>
			<tr>
				<td>${@author}</td>								
				<td>${@date}</td>
				<% @controls.each do |control| %>
				<td>${control}</td>								
				<% end %>
			</tr>
		</tbody></table>
	</td></tr>
</tbody></table>