config/config.development.yml
config/config.test.yml
config/config.production.yml

runtime/config/config.development.yml
runtime/config/config.test.yml
runtime/config/config.production.yml
!runtime/config/emptygit
runtime/public/*
!runtime/public/emptygit
runtime/log/*.log
runtime/tmp/*

tmp/*

*~
.DS_Store
.idea
.idea/**/*
Thumbs.db