- content_tag :div, object.merge_html_attributes(:class => " comments _discussion _aspect") do
	- if object.name?
		.left
			%h2= object.name
	
	- if object.controls?
		%h3.right= object.controls.to_a.join("\n")
		
		
	.clearer &nbsp;
	
	- if object.content?
		.comment-list-wrapper
			%ul.comment-list._comments= object.content.to_a.join("\n")