<div class="text_view"><% if preformatted %><pre><% if no_escape %><%= text %><% else %><%== text %><% end %></pre><% else %><% if no_escape %><%= text %><% else %><%== text %><% end %><% end %></div>