- content_for :content do
	= b.title t(:forgot_password)
	- b.narrow do
		- b.form forgot_password_identities_path do |f|
			= f.text_field_tag :email, @email, :required => true, :label => t(:email), :description => t(:forgot_password_hint)
			
			= f.line_with_delimiters f.submit(t(:ok)), link_to(t(:cancel), :back)