<%= object.content %>
<div class="left" id="footer-left">
	<%= object.left.content %>
	<div class="clearer">&nbsp;</div>
</div>

<div class="right" id="footer-right">	
	<p class="quiet">
		<%= object.right %>
		<br>Design by <a href="http://arcsin.se/">Arcsin</a>
	</p>
</div>