<h1><%= t('reset_password') %></h1>
<form>
  <fieldset>
    <% $.formBuilder(model ,function(f){ %>
      <%- f.baseErrors() %>
      <%- f.passwordField('password', {required: true}) %>
      <%- f.passwordField('password_confirmation', {required: true}) %>
    <% }) %>
  </fieldset>
  <div class="actions">
    <button class="_ok btn primary"><%= t('ok') %></button>&nbsp;
    <button class="_back btn"><%= t('back') %></button>
  </div>
</form>