- b.note id: object.dom_id, class: '_item' do |o|
  - o.name h(object.name)
  - o.text object.text
  - o.controls do |a|
    - a.add link_to(t(:edit), edit_note_path(object, format: :js, container_id: container)) if can? :update, object
    - a.add link_to(t(:delete), destroy_note_path(object, container_id: container, format: :js), method: :post, confirm: t(:are_you_shure)) if can? :destroy, object
    - a.add link_to(t(:move), '#', class: '_handle') if can?(:update, container)
    - a.add link_to(t(:go), show_note_path(object))