<div class="div_h2">${@title}</div>
<div class="inline p">
	<div class="icon">${@icon}</div>
	${@details}
</div>
<div class="inline cright">	
	<div class="bold">${@author}</div>, 
	${@date}
</div>
<%= object.comments.size %> Comments
<br/>
<br/>