<html>
    <head>
        <title>AJAX Button</title>
        <script src="/js/ext-core-debug.js"></script>
		<script src="/js/user_script.js"></script>
		
		<script>
			Ext.onReady(function() {
				// Remove AJAX automation
				
				//UserScript.page_loaded()								
				//Ext.Ajax.on('beforerequest', UserScript.ajax_start);
				//Ext.Ajax.on('requestcomplete', UserScript.ajax_finished);
				//Ext.Ajax.on('requestexception', UserScript.ajax_finished);
			});
		</script>
    </head>
    <body>
        <script>        				
            function ajax_post(){
                Ext.Ajax.request({
                    method: 'POST',
                    url: '/ajax_responce',
                    success: function(response, opts){
                        Ext.get("placeholder").dom.innerHTML = response.responseText;
                    },
                    failure: function(response, opts){
                        Ext.get("placeholder").dom.innerHTML = "Invalid XHR Response!";
                    }
                });
            };
        </script>
        <button onclick="ajax_post(); return false;">AJAX Button</button>
        <div id="placeholder"></div>
		<div>Page loading finished</div>
    </body>
</html>
