<html>
<%= erb :_head %>	
<body>

<form name="form1" method="post" action="/points_to_nowhere"> <input type="submit" value="Button1"> </form>
<form name="form1" method="post" action="/"> <input type="submit" value="Button2"> </form>
<form name="form1" method="post" action="/points_to_nowhere"> <input type="submit" value="Button3"> </form>

</body>

</html>