<html>
<%= erb :_head %>	
	<body>
		
		<a href="/points_to_nowere">Noise link 1</a>
		<a href="/general/link_result">The Link</a>
		<a href="/points_to_nowere">Noise link 2</a>

	</body>	
</html>