<table width="200" border="1">
  <tr>
	  <td width="150"><label>Name</label>${@name}</td>
    <td rowspan="2">
		${@ok}<br/>
		${@cancel}
	</td>
  </tr>
  <tr>
	  <td><label>Text</label>${@text}</td>
  </tr>
</table>