= render '/rad/face/demo/shared/top_navigation_bottom'

= render '/rad/face/demo/shared/tools'

- b.item id: "note_id", class: "note_class" do |o|
  - o.text samples.text
  - o.controls [link_to('edit', '#'), link_to('delete', '#')]
  - o.details samples.details
  
= render '/rad/face/demo/shared/comments'