<div class='_menu'></div>

<div class="container">

  <div class="row">
    <div class="span3">&nbsp;</div>
    <div class="span10">
      <div class='_notifications'></div>
      <div class='_content'></div>
    </div>
    <div class="span3">&nbsp;</div>
  </div>

  <footer>
    <p><%- rad.config().bottomText %></p>
  </footer>
</div>