<div class='_menu'></div>

<div class="container">

  <div class="row">
    <div class="span16">
      <div class='_notifications'></div>
      <div class='_content'></div>
   </div>
  </div>

  <footer>
    <p><%- rad.config().bottomText %></p>
  </footer>
</div>