<table>
	<tr>
		<td><label>Name</label></td>
		<td> ${@name}</td>
	</tr>
	<tr>
		<td><label>Text</label></td>
		<td> ${@text}</td>
	</tr>
	<tr>
		<td><label>Image</label></td>
		<td> ${@image}</td>
	</tr>
	<tr>
		<td><label>File</label></td>
		<td> ${@file}</td>
	</tr>
	<tr>
		<td><label></label></td>
		<td> ${@ok} ${@cancel}</td>
	</tr>
</table>