/* Distance */
$small_step: 1px;
$step: 5px;
$big_step: 10px;

/* Colors */
$color: black;
$select_color: #2a5db0;
$inverse_color: white;
$light_color: #cccccc;
$very_light_color: #efefef;
$red_color: #dd0000;
$light_red_color: #eebbbb;
$yellow_color: #dddd00;
$light_yellow_color: #eeeebb;