<div>
  <h1><%= t('users') %></h1>
  <table>
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('role') %></th>
      </tr>
    </thead>
    <tbody class='_content'>
    </tbody>
  </table>

  <div class='_paginator'></div>
</div>