<% if box %>
<table>
<% children.each do |child| %>
  <tr>
	<td>
${child}
	</td>
  </tr>
<% end %>
</table>
<% else %>
<table>
  <tr>
<% children.each do |child| %>
	<td>
${child}
	</td>
<% end %>
  </tr>
</table>
<% end %>