<input type="checkbox" value="on" <% if selected %> checked="checked"<% end %> <% if disabled? %>disabled="disabled"<% end %> onchange="var hidden_cb = dojo.byId('cb_id_<%= component_id %>'); if(this.checked){hidden_cb.value = 'true'}else{hidden_cb.value='false'}"/><input type="text" id="cb_id_<%= component_id %>" name="<%= component_id %>" value="<%= selected ? "true" : "false" %>" style="display:none"/>