<table class="float padding"><tbody>
<% @messages.each do |msg, type| %>	
<%
color = case type
when :info then "color_info"
when :warn then "color_warn"
when :error then "color_error"
end
%>
	<tr>
		<td>
			<table class="float padding"><tbody>				
                <tr>
                    <td class="<%= color %>"><%= msg %></td>
                </tr>
            </tbody></table>			
		</td>
	</tr>		
<% end %>	
</tbody></table>