<html>
<%= erb :_head %>	
	<body>
		<table class="table"><tbody>
			<tr>
				<td colspan="2">
<%= main_menu %>
				</td>
			</tr>
			<tr>
				<td>
<%= left_menu %>
				</td>
				<td>
<%= object %>
				</td>
			</tr>
		</tbody></table>		
	</body>	
</html>