					<table id="object" class="table"><tbody>
						<tr><td>
														
							<table id="attributes" class="table"><tbody>
								<tr>
									<td>
										
										<table id="left_side" class="table"><tbody>
											<tr>
												<td>Attribute1:</td>
												<td><input type="text" value="AttributeValue1"></input></td>	
											</tr>
											<tr>
												<td>Attribute2:</td>
												<td><input type="text" value="AttributeValue2"></input></td>	
											</tr>
										</tbody></table>			
										
									</td>							
									<td>
										
										<table id="right_side" class="table"><tbody>
											<tr>
												<td>Attribute3:</td>
												<td><input type="text" value="AttributeValue3"></input></td>	
											</tr>
											<tr>
												<td>Attribute4:</td>
												<td><input type="text" value="AttributeValue4"></input></td>	
											</tr>
										</tbody></table>			
										
									</td>
								</tr>
							</tbody></table>
							
							<table class="table table_toolbar"><tbody>
								<tr>
									<td>Text</td>
									<td>TableButton1</td>
									<td>TableButton2</td>
								</tr>
							</tbody></table>
							
							<table id = "table" class="table"><tbody>
								<tr>
									<td>*</td>
									<td>a</td>
									<td>b</td>
									<td>c</td>
								</tr>
								<tr>
									<td>1</td>
									<td><input type="text" value="a1"></input></td>
									<td><input type="text" value="b1"></input></td>
									<td><input type="text" value="c1"></input></td>
								</tr>
								<tr>
									<td>2</td>
									<td><input type="text" value="b1"></input></td>
									<td><input type="text" value="b2"></input></td>
									<td><input type="text" value="b3"></input></td>
								</tr>
								<tr>
									<td>3</td>
									<td><input type="text" value="c1"></input></td>
									<td><input type="text" value="c2"></input></td>
									<td><input type="text" value="c3"></input></td>
								</tr>
							</tbody></table>	
													
						</td></tr>
					</tbody></table>								