<html>
<%= erb :_head %>	
	<body>
		<table class="table"><tbody>
			<tr>
				<td>Attribute1:</td>
				<td>
					<div class="text_view">Text1</div>
				</td>	
			</tr>
			<tr>
				<td>Attribute2:</td>
				<td>
					<div class="text_view">Text2</div>
				</td>	
			</tr>
		</tbody></table>
	</body>
</html>