- tag :div, object.merge_html_attributes(class: " the_selector") do
  - if object.controls?
    .m_hover_controls= object.controls.join(' ')
  - if object.name?
    %h1.m_title= object.name
  - if object.text?
    .l_text.m_markup
      = object.text
      .css_clear
  .css_clear