<div class="p">
	${@content}
</div>
<div class="inline cright">
	<% @controls.each do |control| %>
	${control}
	<% end %>
</div>
<div class="inline">
	<div class="bold">${@author}</div>, 
	${@date}
</div>
