<html>
<%= erb :_head %>	
	<body>		
		<table><tbody>
			<tr>
				<td></td>
				<td></td>
				<td class="item">Top</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td class="item">Noise</td>
				<td></td>
				<td class="item">Noise</td>
				<td></td>
			</tr>
			<tr>
				<td class="item">Left</td>
				<td></td>
				<td list="center" class="item">Center</td>
				<td></td>
				<td class="item">Right</td>
			</tr>
			<tr>
				<td></td>
				<td class="item">Noise</td>
				<td></td>
				<td class="item">Noise</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td class="item">Bottom</td>
				<td></td>
				<td></td>
			</tr>
		</tbody></table>
	</body>	
</html>