<table class="float input font"><tbody>
	<tr>
		<td class="h2">
			${@title}
		</td>				
	</tr>
	<tr>
		<td>
			<table class="minimal font padding"><tbody>
				<tr>
					<td>
						${@icon}			
					</td>				
					<td>
						${@details}
					</td>				
				</tr>
			</tbody></table>
		</td>				
	</tr>
</tbody></table>