<% if @path.size > 1 %>
<table class="container font"><tbody>
	<tr>
<% @path.each_with_index do |item, index| %>		
<% unless index == 0 %>
		<td><img src="<%= WGUI.static_resource_uri "#{WGUIExt::DEFAULT_STYLE}/images/aright" %>", alt="&gt;"/></td>
<% end %>
		<td>
${item}			
		</td>
<% end %>		
	</tr>	
</tbody></table>
<% end %>