<table width="500">
  <tr>
    <td>Name</td>
    <td>${@name}</td>
  </tr>
  <tr>
    <td>Completed</td>
    <td>${@completed}</td>
  </tr>
  <tr>
    <td colspan="2">${@ok} ${@cancel}</td>
  </tr>
</table>